@media  (max-width: 1400px) { 
   
}


@media (max-width: 868px) { 
    body{
        max-width: 100%;
    }
    .nav-bar{
        margin: 0;
        padding: 0 0px;
    }

    .subscribe .nav-text{
        display: none;
        border: none;
    }
    .subscribe .subscribe_logo{
        display: none;
        border: none;
    }
    .subscribe{
        margin-right: 30px;
        border: none;
    }
    .search{
        border: none;
    }
    .sign_links{
        display: none;
    }
    .bars{
      z-index: 111;
      position: relative;
      left: 30px;
    }
    .user_list{
        display: none;
    }
    .spider-man{
        font-size: small;
        position: static;
        background-color: #202020;
    }
    .spidy_img img{
        height: 100px;
        width: 200px;
    }
    .items{
        font-size: small;
        display: none;
    }
    .main_section{
        display: flex;
        flex-direction: column;
    }
    .slide{
            min-width: 100%;
            background-size: cover;
            object-fit: cover;
            background-position: right;
             /* width: 100%; */
    }
    .follow{
        display: block !important; 
    }
    .loki_section{
        flex-direction: column-reverse;
    }
    .img{
        clip-path: none;
        height: 400px;
    }
    .clippath{
        height: 400px;
        clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
        /* background-color: lightblue; */
    }
    .loki_text{
        margin: 0;
        padding: 0;
    }
    .tvcards :nth-child(3){
       font-size: medium;
    }
    .tvcards :nth-child(2){
        font-size: small;
     }
     .class_itemes{
        overflow:scroll;
     }
     .tvcards img{
        width:150px;
        height:150px;
     }
     .main_section3{
        display: flex;
        flex-direction: column-reverse;
     }
     .left_unlimited{
        width: 100%;
     }
     .left_unlimited::after{
        display: none;
     }
     .right_unlimited{
        width: 100%;
        height: 500px;
     }
     .comic_edition{
        display: flex;
        flex-direction: column;
     }
     .comics{
        width: 100%;
        height: 300px;
        /* background-color: black; */
     }
     .comic_img{
        background-position: top;
        background-size: cover;
        
     }
     .comic_text{
        text-wrap: wrap;
        width: 200px;
        font-size: 0.7rem;
     }
     .left_comics h1{
        text-align: center;
     }
     .left_comics h1::after{
        content: "";
        position:absolute;
        width: 2px;
        height: 40px;
        background-color: #c6a972;
        left: 50%;
        top:-10px;
        rotate: 55deg;
      }
    
      .left_comics h1::before{
        content: "";
        position:absolute;
        width: 2px;
        height: 40px;
        background-color: #c6a972;
        left: 40%;
        bottom: -10px;
        /* z-index: -1; */
        rotate: 55deg;
      }
     .side_comics{
        width: 100%;
        display: flex;
        justify-content: flex-start;
     }
     .heading {
         width: 100%;
        text-align:center;
        background-color: white;
     }
     .heading h1{
        position: relative;
        width: 100%;
       text-align:center;
       background-color: white;
       z-index: 100002;
    }
     .heading h1::after{
        content: "";
        position:absolute;
        width: 2px;
        height: 40px;
        background-color: #c6a972;
        left: 50%;
        top:-20px;
        rotate: 55deg;
        z-index: -5;
      }
    
      .heading h1::before{
        content: "";
        position:absolute;
        width: 2px;
        height: 40px;
        background-color: #c6a972;
        left: 40%;
        bottom: -20px;
        rotate: 55deg;
        z-index: -2;
      }
      .flex_container{
        width: 100vw;
        height: 800px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
      }
      .right_container{
        width: 60vw;
      }
      .list_items{
        width: 100vw;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .item_cards{
        width: 400px !important;
        background-size: cover;
      }
     }


